In [7]:
import numpy as np
import pandas as pd
s_d =pd.DataFrame({'Income':[15000,20000,22000,25000,30000,22000,21000,80000],
                  'Expences':[5000,10000,12000,15000,20000,12000,11000,40000]})
# mean(Average Value)
print("Mean Value For")
s_d[['Income','Expences']].mean()

Mean Value For

Income      29375.0
Expences    15625.0
dtype: float64

In [6]:
# median(Middle Value)
print("Median Value For")
s_d[['Income','Expences']].median()

Median Value For

Income      22000.0
Expences    12000.0
dtype: float64

In [8]:
# mode(Most frequent Value)
print("Mode Value For")
s_d[['Income','Expences']].mode()

Mode Value For

   Income  Expences
0   22000     12000